.new-tweet {
  background-color:lightgray;
  padding-top:1px;
  border-radius:5px;
  padding-bottom:10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 2em;
  margin-right:2em;
  margin-bottom:2em;

}

hr {
    margin-bottom:20px;
    margin-top:0px;
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

h2 {
  text-align:left;
  margin-bottom:3px;
  margin-top:5px;
}

form textarea {
  padding-top:5px;
  padding-left:5px;
  padding-right:5px;
  padding-bottom:5px;
  width:100%;
}

form .counter {
  float:right;
}

