main {

}

.new-tweet {
  background-color: #E8E8E8;
  padding-top:1px;
  border-radius:5px;
  padding-bottom:10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 2em;
  margin-right:2em;
  margin-bottom:2em;
}

hr {
    margin-bottom:20px;
    margin-top:0px;
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

h2 {
  text-align:left;
  margin-bottom:3px;
  margin-top:5px;
}

form textarea {
  padding-top:5px;
  padding-left:5px;
  padding-right:5px;
  padding-bottom:5px;
  width:100%;
}

form .counter {
  float:right;
}


article {
  margin-left: 2em;
  margin-right:2em;
  margin-top:2em;
  margin-bottom:2em;
  border-radius:5px;
  border: 1px solid lightgray;

}
article header {
  background-color: #F5F5F5;
  margin-top:0px auto;
  height:80px;
  border-radius: 5px;
  padding-top: 2px;
  padding-right: 10px;
  padding-left:10px;
}

article .userName {

}

article .avatar {
  float:left;
  height:60px;
  width:60px;
  padding-left:10px;
  padding-right:10px;
  padding-top: 10px;
}

article:hover {
  opacity: 1;
  border: 1px solid black;
}


header .username {
  float:left;
  font-size: 30px;
  font-weight:700;
  vertical-align:top;
}

header .handle {
  float:right;
  color:gray;
}

.tweet-content {
font-size:1em;
text-align:left;
padding-left:10px;
padding-right:10px;
padding-bottom: 5px;
padding-top: 5px;
}

footer {
  border-top:2px solid ;
  border-top-color: #E8E8E8;
padding-bottom: 3px;
}

footer .icons {
  display: inline-block;
  float:right;
  height:30px;
  margin-left:5px;
  padding-right: 10px;
  margin-top:-20px;

}

footer .date {
  padding-left:10px;
}



